<div mat-dialog-title>
    <span> {{ title }}</span>
</div>
<div class="close"
     [mat-dialog-close]="false">
  x
</div>
<form [formGroup]="gymForm"
      (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content
     class="content">
    <mat-form-field appearance="outline">
        <mat-label>Your Name</mat-label>
        <input matInput
               type="text"
               placeholder="Enter your first name"
               formControlName="name"
               pattern="^[a-zA-Zа-яА-Я]+$">
          <mat-hint>Only alphabetical characters.</mat-hint>
      </mat-form-field>
        <br />
      <mat-form-field appearance="outline">
               <mat-label>What lift</mat-label>
               <mat-select formControlName="lift">
                 <mat-option value="Bench">Becnh</mat-option>
                 <mat-option value="Squat">Squat</mat-option>
                 <mat-option value="Deadlift">Deadlift</mat-option>
                 <mat-option value="Joe Mama">Joe Mama</mat-option>
               </mat-select>
      </mat-form-field>
        <br />
      <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput
                   [min]="minDate"
                   [max]="maxDate"
                   [matDatepicker]="picker"
                   formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        <br />
      <mat-form-field appearance="outline">
        <mat-label>Equipment</mat-label>
        <input matInput
               type="text"
               placeholder="What equipment"
               formControlName="eqt">
      </mat-form-field>
        <mat-checkbox formControlName="natural"
                      class="checkbox">
            Natural?
        </mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input matInput
        [dropSpecialCharacters]="false"
        formControlName="weight"
        placeholder="XXX lbs"
        mask="009"
        type="text"
        suffix=" lbs"/>
      </mat-form-field>
  </div>

  <div mat-dialog-actions
       class="actions">
      <button mat-raised-button type="button"
              color="warn"
              [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button
              [disabled]="!gymForm.valid"
              color="primary"
              type="submit">Save</button>
  </div>
</form>
