.lab-header {
  font-size: 20;
  color: white;
  margin-top: 0;
  padding-right: 20px;
  text-align: center;
}
.toolbar {
  margin-bottom: 10px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
  margin-left: 15px;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
