.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
  margin-left: 10px
}

.demo-button + .demo-button {
  margin-left: 8px;
}
body  {
  background-color: black;
}
table {
  margin-left: 10px;
  margin-right: 10px;
}
.lab-header {
  font-size: 20;
  color: white;
  background-color: black;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}
