<mat-toolbar color="primary"
             class="toolbar">
  <h1 class="lab-header">Лабораторная работа 2</h1>
  <button mat-raised-button (click)="onClick()">Click Clack I'M ROBOT</button>


</mat-toolbar>

<table class="gridtable">
  <tr>
    <th>Name</th>
    <th>Lift</th>
    <th>Date</th>
    <th>Equipment</th>
    <th>Natural</th>
    <th>Weight</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of tableData">
    <td>{{ item.name }}</td>
    <td>{{ item.lift }}</td>
    <td>{{ item.date | date: 'dd.mm.yyyy' }}</td>
    <td>{{ item.eqt }}</td>
    <td>{{ item.natural ? 'Yes' : 'No' }}</td>
    <td>{{ item.weight }}</td>
    <td>
      <button (click)="onDelete(item.name)"
               mat-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
